@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --color-primary: #FF7043;
  --color-accent: #F6BD60;
  --color-background: #FFF8F0;
  --color-softGray: #F3F4F6;
  --color-darkText: #363232;
  --color-additional: #84A59D;
  --font-display: "Comfortaa", sans-serif;
}



